.container {
  background-color: rgb(199, 63, 63);
  min-width: 100%;
  min-height: 100vh;
  background-image: url('C:\Users\abche\OneDrive\Documents\FullStack\react-todo-master\public\wallpaperflare.com_wallpaper.jpg');
  
}
